@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

html,
body {
    font-family: 'Prata', serif;
    background-color: $primary-color;
    background-image: url('/images/background/ethinic.svg'),
        url('/images/background/ethinic-flip.svg');
    background-clip: content-box;
    background-repeat: repeat-y;
    background-position: left top, right top;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 16px;
}

main {
    background-color: $secondary-color;
    padding: 1.2rem;
    .main-section {
        max-width: 1224px;
        margin: 0 auto;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 14px;
    }
    main {
        .main-section {
            max-width: 1024px;
        }
    }
}

@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }
    main {
        .main-section {
            max-width: 800px;
        }
    }
}

@media (max-width: 800px) {
    html {
        font-size: 10px;
    }
    html,
    body {
        padding-left: 1rem;
        padding-right: 1rem;
        background-image: url('/images/background/ethinic-sm.svg'),
            url('/images/background/ethinic-sm-flip.svg');
    }
}
